DATABASE_URL=postgresql://orbit_user:orbit_pass@localhost:5432/orbit_db
GEMINI_API_KEY=AQ.Ab8RN6JWWVz2V3gNPp-_nAhnSCoYfc7Vz0Nh5cyjpqYV_0LZkA
JWT_SECRET=yirbbzbiZyzvmceSqaBgZrNVYWD6HxeijZCUoOWhIT8BKi2z1cpaNGCsmYjz6A7p
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=14